<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Archive.Database.Connection" connectionString="Data Source=LAPTOP-0KMO6KG3;Initial Catalog=Serviteca;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="FailoverDatabase.Connection" connectionString="Data Source=LAPTOP-0KMO6KG3;Initial Catalog=Serviteca;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="CustomerService.ThirdParty.Http.Connection" value="https://localhost:4000/"/>
		<add key ="IsFailoverModeEnabled" value="true"/>
	</appSettings>
</configuration>